/* TYPO3-specific styles */

.align-left {
	
	text-align: left;
	
} 

.align-center {
	
	text-align: center;
	
}

.align-right {

	text-align: right;
	
}

.outline-text-cta p, .outline-text-cta h2 {
	
	text-align: center;

}  

div.hidden_language {
	
	display: none;

}

/* _animated-stepcircles.scss */

.animated-stepcircles ol.module-stepcircles li:before {

	font-size: 18px !important;
	font-size: 1.3rem !important;

}

.animated-stepcircles.white .module-title {
	
	color: #41aeb5; /* Teal */

}

.punchout-image.light.teal .module-title {
	
	color: #41aeb5; /* Teal */

}

.align-centre img {
	
	max-width: 100%;
	
}

/* _base.scss */

p {

    margin: 2rem 0;
    text-align: left;
    font-weight: normal;
    line-height: 1.5rem;

}

.offer-copy p {
	
	line-height: 1em;

}

li { 

	line-height: 1.5; 

}

h1, h2, h3, h4, h5, h6 {
	
	word-break: break-word;
	word-wrap: break-word;

}

@-moz-document url-prefix() {

	h1, h2, h3, h4, h5, h6 { 
		
		word-break: initial;
		word-wrap: break-word;
			 
	}

}

nav#nav .button:after {
	
	display: block;
	content: '';
	clear: both;

}

/* _accordion.scss */

.accordion-content li {
        
	text-align: left;
	font-weight: normal;
	line-height: 22px;

}

.accordion.accordion-inner > li > .accordion-wrap.is-open a[href] {
	
	color: #41aeb5; /* Teal */

}

.accordion.accordion-inner > li {
	
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;           /* FF 20+ */
	break-inside: avoid-column;

}
/* Masonry */
.section.affiliates .accordion .embedded-html .accordion-content .row {
	
	-moz-column-count: 4;
	-moz-column-gap: 1rem;
	-webkit-column-count: 4;
	-webkit-column-gap: 1rem;
	column-count: 4;
	column-gap: 1rem;

}

.section.affiliates .accordion .embedded-html .accordion-content .banner {

	display: inline-block;
	width: 100%;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
	float: none;
	position: static;
	min-height: 0;
	margin-bottom: 1rem;
	text-align: center;

}

@media screen and (max-width: 768px) {

	.section.affiliates .accordion .embedded-html .accordion-content .row {
		
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	
	}

}

@media screen and (max-width: 640px) {

	.section.affiliates .accordion .embedded-html .accordion-content .row {
		
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	
	}

}

/* Affiliate */

.affiliates form .form-row {
	
	vertical-align: top;

}

/* _text-list-2col.scss */

.text-list-2col.tick-icons ol, .text-list-2col.tick-icons ul {

    margin-top: 0;

}

.text-list-2col.tick-icons ol li, .text-list-2col.tick-icons ul li {

	padding-left: 3.4rem;

}

.text-list-2col.tick-icons ul li:before {

	content: "\e60c";
	font-family: 'icons';

}

/* _our-fees.scss */

.tx-fees select option:first-child, .affiliates select option:first-child {
	
	display: block;

}

.provider-logos .payment-icon, .provider-logos .payment-icon.sofortüberweisung, .provider-logos .payment-icon.maestro, .provider-logos .payment-icon.swift, .provider-logos .payment-icon.visa {
    display: block;
    width: 60px;
    height: 60px;
/*     background-image: url(/fileadmin/templates/images/icons/payment-cards.png); */
    background-image: url(/fileadmin/templates/images/payment-provider.png) !important;
    background-repeat: no-repeat;
    text-indent: -999em;
    background-position: 0 0;
 }

/*
.provider-logos .payment-icon.sofort {
    width: 74px;
}
*/

.provider-logos .payment-icon.bank_withdrawal, .provider-logos .payment-icon.bank_transfer_upload, .provider-logos .payment-icon.bank_transfer {
   background-position: 0 0;
}
.provider-logos .payment-icon.LVA-OBT_upload {
   background-position: 0 -70px;
}
.provider-logos .payment-icon.LTU-OBT_upload {
   background-position: 0 -140px;
}
.provider-logos .payment-icon.ITA-OBT_upload {
   background-position: 0 -210px;
}
.provider-logos .payment-icon.cartasi_upload {
   background-position: 0 -280px;
}
.provider-logos .payment-icon.carte_bleue_upload {
   background-position: 0 -350px;
}
.provider-logos .payment-icon.cheque, .provider-logos .payment-icon.cheque_upload, .provider-logos .payment-icon.cheque_withdrawal, .provider-logos .payment-icon.cheque_int_withdrawal {
   background-position: 0 -420px;
}
.provider-logos .payment-icon.credit_card_amex {
   background-position: 0 -490px;
}
.provider-logos .payment-icon.credit_card_mastercard {
   background-position: 0 -560px;
}
.provider-logos .payment-icon.credit_card_jcb {
   background-position: 0 -630px;
}
.provider-logos .payment-icon.credit_card_diners {
   background-position: 0 -700px;
}
.provider-logos .payment-icon.credit_card_visa, .provider-logos .payment-icon.visa_withdrawal, .provider-logos .payment-icon.visa, .provider-logos .payment-icon.visaxx {
   background-position: 0 -770px;
}
.provider-logos .payment-icon.e_nets_upload {
   background-position: 0 -840px;
}
.provider-logos .payment-icon.epaybg_upload, .provider-logos .payment-icon.epay_bulgaria {
   background-position: 0 -910px;
}
.provider-logos .payment-icon.eps_upload, .provider-logos .payment-icon.eps {
   background-position: 0 -980px;
}
.provider-logos .payment-icon.ESP-OBT_upload {
   background-position: 0 -1050px;
}
.provider-logos .payment-icon.giropay_upload, .provider-logos .payment-icon.giropay {
   background-position: 0 -1120px;
}
.provider-logos .payment-icon.i_deal_upload, .provider-logos .payment-icon.ideal {
   background-position: 0 -1190px;
}
.provider-logos .payment-icon.PLO-OBT_upload {
   background-position: 0 -1260px;
}
.provider-logos .payment-icon.laser_upload {
   background-position: 0 -1330px;
}
.provider-logos .payment-icon.maestro_upload, .provider-logos .payment-icon.maestro {
   background-position: 0 -1400px;
}
.provider-logos .payment-icon.nordea_upload, .provider-logos .payment-icon.nordea_solo, .provider-logos .payment-icon.solo, .provider-logos .payment-icon.nordea {
   background-position: 0 -1470px;
}
.provider-logos .payment-icon.GBR-OBT_upload, .provider-logos .payment-icon.online_bank_transfer {
   background-position: 0 -1540px;
}
.provider-logos .payment-icon.SWE-OBT_upload {
   background-position: 0 -1610px;
}
.provider-logos .payment-icon.DNK-OBT_upload {
   background-position: 0 -1680px;
}
.provider-logos .payment-icon.DEU-OBT_upload {
   background-position: 0 -1750px;
}
.provider-logos .payment-icon.p24_upload, .provider-logos .payment-icon.przelewy24 {
   background-position: 0 -1820px;
}
.provider-logos .payment-icon.EST-OBT_upload {
   background-position: 0 -1890px;
}
.provider-logos .payment-icon.poli_upload, .provider-logos .payment-icon.internet_banking_via_poli, .provider-logos .payment-icon.poli {
   background-position: 0 -1960px;
}
.provider-logos .payment-icon.sofort_upload, .provider-logos .payment-icon.sofortüberweisung {
   background-position: 0 -2030px;
}
.provider-logos .payment-icon.swift, .provider-logos .payment-icon.swift_upload, .provider-logos .payment-icon.swift_withdrawal {
   background-position: 0 -2100px;
}
.provider-logos .payment-icon.FIN-OBT_upload {
   background-position: 0 -2170px;
}
.provider-logos .payment-icon.FRA-OBT_upload {
   background-position: 0 -2240px;
}
.provider-logos .payment-icon.skrill_direct {
   background-position: 0 -2310px;
}
.provider-logos .payment-icon.sofort_banking {
   background-position: 0 -2380px;
}
.provider-logos .payment-icon.paysafecard {
   background-position: 0 -2440px;
}
.provider-logos .payment-icon.trustly {
   background-position: 0 -2500px;
}
.provider-logos .payment-icon.ach {
  background: #fff url('/fileadmin/templates/images/ach.png') -8px -6px no-repeat !important;
}
.provider-logos .payment-icon.neteller {
   background-position: 0 -2560px;
}

/* hide debug info */

body:before, body:after {
	
	display: none;

}

.accordion .embedded-html .banner { /* Should be universal and CSS only by initial design */

	min-height: 360px;
	
}

.animated-stepcircles .badges {
	
	margin-top: 4rem;
	font-size: 0;
	
}

.tabs .tab-menu ul {
	
	display: table;
	width: 100% !important;
	
}

.tabs .tab-menu li {
	
	display: table-cell;
	
}


.unmissable-offers .other-offers-block + .row {
	
	display: none;

}

/* Punchout transparent circles – white background version (punchout-image-3col) */

.punchout-image-3col .punchout-copy {

	position: relative;

}

.punchout-image-3col.white {
	
	background-image: url(/fileadmin/templates/images/punchouts/punchColBg_white.png);
	
}

.punchout-image-3col.white .row {
	
	background-image: url(/fileadmin/templates/images/punchouts/punchRowBg_white.png);
	
}

.punchout-image-3col.white .punchout-icon {
	
	background-image: url(/fileadmin/templates/images/punchouts/punchHoleBg_white.png);
	
}

.punchout-image-3col.white .punchout-title {
	
	background: #fff;

}

.punchout-image-3col .row .csc-default {
	
	text-align: center;

}

@media screen and (min-width: 768px) {

	.punchout-image-3col .punchout-copy:after {
		
		position: absolute;
		content: '';
		width: 100%;
		display: block;
		height: 100rem;
		height: 100vh;
		left: 0;
		background: inherit;
		
	}

	.punchout-image-3col.white .punchout-copy:after {
		
		background: #fff;
		
	}

	.punchout-image-3col.white .punchout-copy {
		
		padding-bottom: 0;
		
	}

}

.hero .box-copy a[href] {
	
	color: #862165;
	
}

p a[href] {
	
	color: #fff;
	text-decoration: underline;

}

.text-list-2col.text-list-1col .button {
	
	min-height: 50px;

}

.section.text-image-2col .button .icon.icon-arrow-right-circle {
	
	bottom: auto;

}

/* Override Bebas on Greek pages, because Greek/English text is inconsistent */

html[lang=el] body, html[lang=el] h3, html[lang=el] b, html[lang=el] strong, html[lang=el] .tab-menu a,
html[lang=el] .leadership-team .accordion-grid-item-trigger strong, html[lang=el] .promo-exclusive-offers .box-title h2, html[lang=el] .promo-prizes .box-title, html[lang=el] .timeline-slider .slider-container .slide-title h2, html[lang=el] .unmissable-offers .offer .offer-content .offer-copy strong, html[lang=el] .module-title,
html[lang=el] .fullbleed-level2-hero .box-title h1, html[lang=el] .fullbleed-level2-hero .box-title h2, html[lang=el] .fullbleed-level2-hero .box-title h3,
html[lang=el] .accordion.top-level > li > .accordion-wrap > .accordion-trigger a,
html[lang=el] .unmissable-offers .offer .offer-content .offer-copy,
html[lang=el] .punchout-image-3col h2
{

	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important; 

}

html[lang=el] .global-offices ul li .office-title h3 {
	
	letter-spacing: 1px;

}

html[lang=el] .homepage-hero .hero-title h2 {
	
	font-size: 11rem;
	
}

html[lang=el] .text-list-2col .module-title h3, html[lang=el] .unmissable-offers .module-title h2 {

	font-size: .7em;

}

html[lang=el] .module-title {
	
	font-size: 3em;

}

html[lang=el] .fullbleed-level2-hero .box-title h1, html[lang=el] .fullbleed-level2-hero .box-title h2, html[lang=el] .fullbleed-level2-hero .box-title h3 {
	
	font-size: 2.4em;
	
}

html[lang=el] .unmissable-offers .main-offer .offer-copy {
	
	font-size: 2.6em !important;

}

.animated-stepcircles .module-container ul.module-stepcircles li:before {
	
/* 	margin: 2.65em 0 0 -2.8em !important; */
	margin: 40px 0 0 -43px !important;

}

.text-list-2col.light {
	
	background-color: #eeeef0;

}

.text-list-2col .module-container ol li:before, .text-list-2col .module-container ul li:before { /* Absolute positioning doesn't work with Chrome */
	
	position: static;
	margin-right: 1em;

}

.text-list-2col.tick-icons ol li, .text-list-2col.tick-icons ul li {

    -webkit-column-break-inside: avoid;
	page-break-inside: avoid;           /* FF 20+ */
	break-inside: avoid-column;

}	

.punchout-image .full-background-container div.full-background-image.anchor-right.with-offset.background-fixed {
	
	background-size: cover;
	background-position: left center !important;
	
}



.box .carousel .pagination a {
	
	border-radius: 0px;
	border: none;
	background: url(/fileadmin/templates/images/circle.svg) center center no-repeat;
	background-size: 100% auto;
	overflow: hidden;
	color: transparent;

}

.box .carousel .pagination a.active, .box .carousel .pagination a:hover {
	
	border-radius: 0px;
	border: none;
	background: transparent url(/fileadmin/templates/images/circle-full.svg) center center no-repeat;
	background-size: 100% auto;

}


.small {
	
	font-size: 90%;

}


.legal-footer {
	
	font-size: .8em;

}

header .myaccount-text, .logged-in header .login-text {
	
	display: none;

}

.logged-in header .myaccount-text {
	
	display: block;

}

/* Countdown module */

.counter {
	
	margin-bottom: 2em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;

}

.counter span {
	
	display: inline-block;
	min-width: 6em;
	color: #3b9092;
	text-transform: uppercase;
	position: relative;

}

.counter span b {
	
	display: block;
	color: #862165;
	font-size: 7em;
	font-family: bebas_neuebook, Helvetica, Arial, sans-serif;
	line-height: 1em;

}

.counter span:not(:first-child):before {
	
	content: ':';
	font-size: 2em;
	color: #d6c7b4;
	position: absolute;
	left: -.25em;
	top: 30%;
	font-weight: bold;

}

@media screen and (max-width: 768px) {
	
	.counter span {
		
		min-width: 5em;
	
	}
	
	.counter span b {
		
		font-size: 6em;

	}
	
}

@media screen and (max-width: 320px) {
	
	.counter span {
		
		min-width: 4em;
	
	}
	
	.counter span b {
		
		font-size: 5em;

	}
	
}

.teal .counter span, .teal.counter span {
	
	font-family: bebas_neuebook, Helvetica, Arial, sans-serif;
	color: #7c7e8a;
	font-size: 1.5em;
	
}

.teal .counter span b, .teal.counter span b {
	
	color: #3b9092;
	font-size: 5em;
	
}

.teal .counter span:not(:first-child):before, .teal.counter span:not(:first-child):before {
	
	font-size: 2.7em;
	left: -.1em;
	top: 33%;
	font-weight: normal;
	font-family: serif;

}

/* Countdown module – end */

/* Featured Merchants module */

.section.merchants h3 {
	
	font-family: 'Open Sans';
	font-size: 1em;	
	
}

.section.merchants a[href] {
	
	text-transform: uppercase;
	color: #000;
	text-decoration: underline;

}

.section.merchants.awards ul li {
	
	width: 20%;
	min-width: 12em;

}

.section.merchants.awards ul li .award-image-holder {
	
	border-radius: none;
	border: none;

}

.section.merchants.awards ul li .award-image-holder .award-image {
	
	width: 100%;
	padding-bottom: 100%;	
	
}

/* Purple button inside teal animated stepcircles */

.animated-stepcircles .button.button-light-purple, .animated-stepcircles .button.button-light-purple:hover {
	
	border-color: #811e68;

}

.animated-stepcircles .button.button-light-purple .panel {
	
	background: #811e68;
	
}

.animated-stepcircles .button.button-light-purple:hover .icon, .animated-stepcircles .button.button-light-purple:hover {

	color: #811e68;

}

/* Dark text-list paragraph colour */

.text-list-2col.dark p {
	
	color: #fff;
	
}

/* Columns with equal width as class-less div's in a .row */

.row.auto {
	
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	border-collapse: separate;

}

.row.auto:after, .row.auto:before {
	
	display: none !important;

}

.row.auto > * {
	
	display: table-cell;
	vertical-align: top;
	position: relative;
	word-wrap: break-word;
	padding-left: 15px;
	padding-right: 15px;
	float: none;

}

.row.auto.spacing {
	
	border-spacing: 1rem;

}

.row.auto.spacing-horizontal {
	
	border-spacing: 1rem 0;

}

.row.auto.spacing-vertical {
	
	border-spacing: 0 1rem;

}

.cta-holder > a[href] {
	
	color: #fff;

}

.cta-holder p {
	
	text-align: center;

}

/* Button rebuilt with CSS and no JS */

@-webkit-keyframes buttonanimation {

	0% {
		background-size: 100% 100%;
		color: rgba(0, 0, 0, 0);
		-webkit-transform: scale(.01,.01);
	}

	40% {
		-webkit-transform: scale(1,.01);
	}

	80% {
		-webkit-transform: scale(1,1);
		background-size: 100% 100%;
		color: rgb(84, 76, 100);
	}
	
	100% {
		
		background-size: 100% 0;
		color: rgb(255,255,255);
		
	}

}	

@keyframes buttonanimation {

	0% {
		background-size: 100% 100%;
		color: rgba(0, 0, 0, 0);
		transform: scale(.01,.01);
	}

	40% {
		transform: scale(1,.01);
	}

	80% {
		transform: scale(1,1);
		background-size: 100% 100%;
		color: rgb(84, 76, 100);
	}
	
	100% {
		
		background-size: 100% 0;
		color: rgb(255,255,255);
		
	}

}	

.btn {

	-webkit-transition: all .15s linear;
	transition: all .15s linear;
	
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	
	-webkit-animation: buttonanimation 1.5s 1;
	animation: buttonanimation 1.5s 1;

	padding: 1.15em 1.7em;
	border: 1px solid #fff;
	border-radius: 3px;
	text-transform: uppercase;
	padding-right: 6em;
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;

	background: rgba(5,218,252,.5) bottom no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4/x8AAwAB/2+Bq7YAAAAASUVORK5CYII=);
	
	background-size: 100% 0;
	color: rgb(255,255,255);
	
	font-family: robotoregular,Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	text-align: left;
	overflow: hidden;
	word-break: break-word;
	word-wrap: break-word;

}

.btn:after {
	
	content: '\e608';
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: icons;
	font-size: 1.5em;

}

.btn:hover {
	
	background-size: 100% 100%;
	color: rgb(84, 76, 100);

}

.btn:hover:after {
	
	background-size: 100% 100%;
	border-color: rgb(84, 76, 100);
	color: rgb(84, 76, 100);

}

.hero .btn {
	
	background-color: rgba(85, 78, 102, .5);
	width: 300px;

}

.hero .btn:hover {
	
	color: rgb(84, 76, 100);

}

/* Old buttons fixes */

.button {
	
	vertical-align: middle;
	
}

.hero .button.button-light-purple, .purple-hero-cta .hero .button {
	
	background: #811e68 !important;
	
}

.hero .button.button-light-purple .copy, .purple-hero-cta .hero .button .copy {
	
	color: #fff;
	
}

.purple-hero-cta .hero .button:hover .copy, .purple-hero-cta .hero .button:hover .icon {
	
	color: #811e68 !important;
	
}

.purple-hero-cta .hero .button:hover, .purple-hero-cta .hero .button:hover {
	
	border-color: #811e68;
	
}

.hero .button.button-light-purple:hover .panel, .hero .button.button-light-purple:hover, .purple-hero-cta .hero .button:hover .panel, .purple-hero-cta .hero .button:hover {
	
	background: transparent !important;
	
}

.tick-icons.text-list-2col ul li {
	
	min-height: 3em;
	
}

/* RTL support needs body+ inline-block grid columns, various fixes */

@import 'rtl';

/* Transparent boxes */

.fullbleed-level2-hero .box.white h1, .fullbleed-level2-hero .box.white .box-copy p, .fullbleed-level2-hero .box.white .button.button-dark-purple {
	
	color: #fff;
	border-color: #fff;
	
}

.fullbleed-level2-hero .box.white .button.button-dark-purple .panel {
	
	display: none;
	
}

/* Urgent fix for white element */

.whitetext {
	
	.promo-exclusive-offers .box-title h2, .promo-exclusive-offers .box-title h2 a[href] {
		
		color: #fff;
		
	}
	
	.promo-exclusive-offers .box-title:after {
	
		background-image: url(/fileadmin/templates/images/promo/zigzag-white.png);
		
	}
	
	.promo-exclusive-offers .button, .promo-exclusive-offers .button:hover:not(.hero-cta) {
		
		border-color: #fff;
		
	}
	
	.button .copy {
		
		color: #000 !important;
		
	}
	
	.promo-exclusive-offers .button .panel {
		
		background: #fff;
		
	}
	
	.button:hover .copy { 
		
		color: #fff !important;

	}
	
	.promo-exclusive-offers .button:hover { 
		
		border-color: #fff !important; 
	
	}
	
	.promo-exclusive-offers .button:hover .icon {
		
		color: #fff !important;

	}

}

/* Form validation */

form label.mandatory.alert {
	
	color: #a00;
	
}

/* Big Punchout Icon */

.big-punchout .punchout-image .punchout-icon object.svg-icon-image, .big-punchout .punchout-icon object.svg-icon-image {
	
	max-width: 90%;
	width: auto;
	
}

.small-punchout .punchout-image .punchout-icon object.svg-icon-image, .small-punchout .punchout-icon object.svg-icon-image {
	
	max-width: 40%;
	width: auto;
	
}

/* Purple Link */

.purple-link p a[href] {
	
	color: #4f2556;
	
}
