#header .header-wrapper .site-title {
	
	display: inline-block;
	vertical-align: top;
	float: none;

}

[dir=rtl] {

	#header .header-wrapper .menu-toggle, #header .header-wrapper .account-links {
		
		float: left;
		
	}
	
	#header .header-wrapper .menu-toggle {
		
		margin: 0 40px 0 0;
		border-left: none;
		border-right: 1px solid rgba(255, 255, 255, .25);
		
	}
	
	#header .header-wrapper .site-title {
		
		margin: 0 0 0 40px;
		
	}
	
	#header .header-wrapper .account-links li:first-child a {
		
		padding-right: none;
		border-right: none;
		padding-left: 30px;
		border-left: 1px solid rgba(255, 255, 255, .25);
		
	}
	
	nav#nav {
		
		right: auto;
		left: 0;
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	
	}
	
	#header .header-wrapper .account-links li+li {
		
		margin-left: 0;
		margin-right: 30px;
		
	}
	
	nav#nav .language-links li+li {
		
		border-left: none;
		border-right: 1px solid #a09da9;
		margin-left: 0;
		padding-left: 0;
		margin-right: 10px;
		padding-right: 10px;
		
	}
	
	nav#nav .icon-arrow-left-thin:before {
			
		content: "\e60e";		
	
	}
	
	nav#nav .subnav .back .icon {
			
		margin-right: 0;
		margin-left: .5rem;
					
	}
	
	div[class^=col-] {
		
		float: right;
		
	}
	
	.promo-exclusive-offers div[class^=col-], .promo-prizes div[class^=col-] {
		
		float: left;
		
	}
	
	.text-image-2col .row .container-fluid>div:first-child {
		
		border-right: none;
		border-left: 1px solid #a09da9;
			
	}
	
	.button .copy {
		
		float: right;
		text-align: right;
		padding: 1px 0 0 .75rem;
		
	}
	
	.button.lv1 .icon {
		
		right: auto;
		left: 1rem;
		-moz-transform: translate(0, -50%) scaleX(-1);
		-o-transform: translate(0, -50%) scaleX(-1);
		-ms-transform: translate(0, -50%) scaleX(-1);
		-webkit-transform: translate(0, -50%) scaleX(-1);
		transform: translate(0, -50%) scaleX(-1);
		
	}
	
	.btn {
		
		padding: 1.15em 1.7em 1.15em 6em;
		text-align: right;
		
	}
	
	.btn:after {
		
		right: auto;
		left: 1em;
		-webkit-transform: translateY(-50%) scaleX(-1);
		transform: translateY(-50%) scaleX(-1);
		
	}
	
	#footer nav li+li {
		
		margin-left: 0;
		padding-left: 0;
		border-left: none;
		margin-right: 15px;
		padding-right: 15px;
		border-right: 1px solid rgba(92, 100, 120, .3);
		
	}
	
	#footer ul.legals li+li {
		
		margin-left: 0;
		padding-left: 0;
		border-left: none;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid rgba(92, 100, 120, .3);		
		
	}
	
	p:not(.cta-holder p) {
		
		text-align: right;
	
	}
	
	#footer {
		
		text-align: right;
		
	}
	
	.outline-text-cta .module-copy p {
		
		text-align: center;
		
	}
	
	.text-list-2col ol li, .text-list-2col ul li {
		
		padding-left: 0;
		padding-right: 4em;
		text-align: right;
		
	}
	
	.text-list-2col .module-container ol li:before, .text-list-2col .module-container ul li:before {
		
		margin-right: 0;
		margin-left: 1em;
		
	}
	
	.promo-exclusive-offers .box-title h2 {
		
		text-align: right;
		
	}
	
	.promo-exclusive-offers .box-title:after {
		
		right: 0;
		left: auto;
		
	}
	
	.promo-exclusive-offers .box {
		
		text-align: right;
		
	}
	
	.unmissable-offers .offer .offer-content .left-col, .unmissable-offers .offer .offer-content .right-col {
		
		float: right;	
		
	}
	
	.unmissable-offers .offer .offer-content .right-col, .unmissable-offers .offer .offer-content .offer-copy, .punchout-image .module-title h2 {
		
		text-align: right;
		
	}
	
	ol li {
		
		padding-left: 0;
		padding-right: 3em;
		text-align: right;
		
	}
	
	.text-list-2col ul li:before, ol li:before {
		
		margin: 0 -3em 0 0;
		
	}
	
	.global-offices ul li .office-map {
		
		float: right;
		
	}
	
	.global-offices ul li .office-details {
		
		text-align: right;
	
	}
	
	.punchout-image.styled-list li, .punchout-image.with-copy .column-content h3 {
		
		text-align: right;
		
	}
	
	select {
		
		background-position: 4% 50%;
		
	}
	
	.fees-selector label {
		
		float: right;

	}
	
	.accordion .accordion-trigger .icon {
		
		float: left;

	}
	
	.accordion.top-level>li>.accordion-wrap>.accordion-trigger a {
		
		text-align: right;

	}
	
	.accordion.top-level>li>.accordion-wrap>.accordion-trigger span {
		
		text-align: right !important;

	}
	
	.our-fees .section-icon {
		
		float: right;

	}
	
	.provider-logos .payment-icon {
		
		font-size: 0;

	}
	
	.accordion-content li {
		
		text-align: right;
		
	}
	
	.mastercard-fees .charge {
		
		float: left;

	}
	
	.timeline-slider, .animated-stepcircles ol.module-stepcircles li .icon, .animated-stepcircles ul.module-stepcircles li .icon {
		
		direction: ltr;

	}
	
	nav#nav ul.social-links li+li {
		
		margin-left: 0;
		margin-right: 10px;
		
	}

}

[dir=rtl].nav-open nav#nav {
	
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);

}

[dir=rtl].nav-open #header .header-wrapper {
	
	-ms-transform: translateX(83.33333%);
	-webkit-transform: translateX(83.33333%);
	transform: translateX(83.33333%);
	
}

@media screen and (max-width: 768px) {
	
	[dir=rtl] {

		#footer {
			
			text-align: center;
			
		}
	
		#footer nav li+li {
			
			margin: 0;
			padding: 0;
			border: none;
	
		}
	
	}

}
