/* Animated button */

@-webkit-keyframes button-animation {

	0% {
		background-size: 100% 100%;
		color: rgba(0, 0, 0, 0);
		-webkit-transform: scale(.01,.01);
	}

	40% {
		-webkit-transform: scale(1,.01);
	}

	80% {
		-webkit-transform: scale(1,1);
		background-size: 100% 100%;
		color: rgb(84, 76, 100);
	}
	
	100% {
		
		background-size: 100% 0;
		color: rgb(255,255,255);
		
	}

}	

@keyframes button-animation {

	0% {
		background-size: 100% 100%;
		color: rgba(0, 0, 0, 0);
		transform: scale(.01,.01);
	}

	40% {
		transform: scale(1,.01);
	}

	80% {
		transform: scale(1,1);
		background-size: 100% 100%;
		color: rgb(84, 76, 100);
	}
	
	100% {
		
		background-size: 100% 0;
		color: rgb(255,255,255);
		
	}

}	

.btn {

	-webkit-transition: all .15s linear;
	transition: all .15s linear;
	
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	margin: 1em 0;
	
}

.btn {

	padding: 1em 1.7em;
	border: 1px solid #fff;
	border-radius: 3px;
	text-transform: uppercase;
	padding-right: 6em;
	position: relative;
	cursor: pointer;

	color: #fff;
	
	font-family: roboto, Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	letter-spacing: 1.02px; // Chrome bug
    border-color: #811e68;
	-webkit-animation: none;
	animation: none;
	background: transparent;
	
}

.btn:before { /* Background */
	
	content: '';	
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #811e68;
    z-index: -1;
    transition: all .1s linear;

}

.btn:after { /* Arrow */
	
	content: '›';
	display: inline-block;
	position: absolute;
	right: .8em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 1px solid;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: .7em;
	border-radius: 50%;

}

.btn:hover, .btn:hover:after {
	
	color: #811e68;
	border-color: #811e68;

}

.btn:hover:before {
	
	top: 100%;

}

.cta-holder .btn {

	-webkit-animation: button-animation 1.5s 1;
	animation: button-animation 1.5s 1;
	background: rgba(85, 78, 102, .5);
	border-color: #fff;
	letter-spacing: 1.02px; // Chrome bug

}

.cta-holder .btn:before {
	
	top: 100%;
	background: #fff;
	
}

.cta-holder .btn:hover:before {
	
	top: 0;
	
}

.cta-holder .btn:hover {
	
	color: rgba(85, 78, 102, .5);
	border-color: #fff;

}

.cta-holder .btn:hover:after {
	
	color: rgba(85, 78, 102, .5);
	border-color: rgba(85, 78, 102, .5);

}

/* Themes */

.dark .btn {
	
	border-color: #41aeb5;
	
}

.dark .btn:before {
	
	background: #41aeb5;
	
}

.dark .btn:hover, .dark .btn:hover:after {
	
	color: #41aeb5;
	border-color: #41aeb5;

}

