/* To fix: full-width section with bg images getting white colour from its top neighbour with transparent circles */

.transparency body {
	
	background: #40315a url(DSC06291.jpg) top center no-repeat;
	background-size: cover;
	background-attachment: fixed; // maybe change to position:fixed for faster redraw
	
}

.transparency main {
	
	overflow: hidden;		

}

.section {
	
    background: #fff;

}

.section.transparent {
	
    background: transparent;

}

.section.contain {
	
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	box-shadow: 50vw 0 0 #fff, -50vw 0 0 #fff;
	margin-bottom: -1px;

}

#content {
	
	margin-bottom: -1px;

}

/*
.section.contain:not(.transparent) {
	
	background-color: #fff;

}
*/

.transparency main .row.transparent * {
	
	margin: 0;
	padding: 0;
	background: #fff;

}

.section:before, .section:after { // Clear inner margins
	
	background: #fff;

}

.transparency main .row.transparent .hole, .transparency main .row.transparent .hole object {
	
	background: transparent;

}

.transparency main .row.transparent .hole > * {

	position: relative;

}

.transparency main .row.transparent .hole > *:last-child:before { /* Put background over transparent space below the last div, a result of other taller columns */
	
	content: '';
    position: absolute;
    left: -50%;
    right: 0;
    top: 100%;
    width: 200%;
    bottom: auto;
    height: 100vh;
    background: #fff;
	
}

@media screen and (max-width: 767px) {
	
	.transparency main .row.transparent > *:after {

		display: none;
	
	}
	
	.transparency main .row.transparent, .transparency main .row.transparent > * {
		
		display: block;
		width: 100%;
	
	}

}

.transparency main .row.transparent > * > * {

	font-size: 1rem;
	background: #fff;
	border: 15px solid #fff; /* Spacing between circles */
	border-left: 5em solid #fff;
	border-right: 5em solid #fff;
	border-top: 2em solid #fff;
	border-bottom: 2em solid #fff;

}

/* Transparent circles */

.transparent .circle {

	overflow: visible;
	position: relative;

}


main .row.transparent > * > .circle {

	background: transparent;
	text-align: center;

}

.transparent .circle:before { // Make it a square
	
/*
	content: '';
	display: inline-block;
	padding-bottom: 100%;
	vertical-align: middle;
*/
	
}

// Transparent circle box

.transparent .circle:after { // Overlay a circle with big enough border to create a hole

	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* white SVG rectangle with a transparent circle */
	background: url('data:image/svg+xml; utf8, <svg width="202px" height="202px" viewBox="0 0 202 202" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <path d="M0,0 L202,0 L202,202 L0,202 L0,0 Z M101,202 C156.78076,202 202,156.78076 202,101 C202,45.2192403 156.78076,0 101,0 C45.2192403,0 0,45.2192403 0,101 C0,156.78076 45.2192403,202 101,202 Z" id="Rectangle-2" fill="#FFFFFF" sketch:type="MSShapeGroup"></path> </g> </svg>') center center no-repeat;
	background-size: cover;
	
}

@-moz-document url-prefix() {

	.transparent .circle:after { /* FF not supporting inline SVG */
		
		background-image: url(transparent-circle-in-white-square.svg);
	
	}

}

.transparent .circle > * {
	
/*
	width: 70%;
	height: 70%;
*/
	vertical-align: middle;
	display: inline-block;

}

.content-arrow {
	
	vertical-align: bottom; 
	padding: 1em; 
	text-align: center;
	
}
