@charset 'utf-8';

@import 'bootstrap.min';
@import 'bootstrap.rado';
@import 'transparency';
@import 'skrill-button';
@import 'viewport-hero';
@import 'skrill-nav';

@font-face {
    font-family: robotolight;
    src: url(Roboto-Light-webfont.eot);
    src: url(Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'), url(Roboto-Light-webfont.woff) format('woff'), url(Roboto-Light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "bebas_neuebold";
    src: url('bebasneue_bold-webfont.eot');
    src: url('bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_bold-webfont.woff2') format('woff2'),
         url('bebasneue_bold-webfont.woff') format('woff'),
         url('bebasneue_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	
	box-sizing: border-box;
	overflow-x: hidden;
/*
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
*/

}

html, body {
	
	font-family:robotolight,Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 16px;

}

h1, h2, h3, h4, h5, h6 {
	
	word-break: break-word;
	word-wrap: break-word;
	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;

}

header {
	
	overflow: hidden;
	position: relative;
	color: #fff;

}

.contain {
	
	max-width: 1280px;
	margin: 0 auto;
	
}

header h1 {
	
	font-size: 14em;
	margin: 0;

}

@media screen and (max-width: 768px) {

	header h1 {
		
		font-size: 3em;
	
	}
	
	header a.logo img {
		
		height: 6em;
		max-width: none;

	}
	
	.head > .logo {
		
		width: 0;

	}
	
	.row.transparent {
		
		margin: 1em;
		
	}

}

.head a.logo img {
	
	display: block;

}

.head {
	
	position: fixed;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 1;
	color: #fff;
	display: flex;
	
}

.head > * {
	
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
    padding: 0 1em;

}

.head > .logo {
	
	padding: 0;


}

.head .middle-space {
	
    flex: 1 1 auto;
    overflow: hidden;
	
}

.head * {
	
	font-size: 1rem;

}

header .hero {
	
	text-align: center;
}

header .hero p {
	
	font-size: 1.2em;
}

header p {
	
	display: inline-block;
	padding: .3em .7em;
	
}

img {
	
	max-width: 100%;
	display: inline-block;
	border: 0;

}

img.header {
	
	opacity: 0;

}

a[href] {
	
	text-decoration: none;
	display: inline-block;
	
}

header a[href] {
	
	color: inherit;
	
}
	
.head a[href] {
	
	vertical-align: middle;

}

.section:before, .section:after { // Clear inner margins
	
	content: '';
	display: table;
	table-layout: fixed;
	width: 0;

}

.section.background, .section > .row {
	
	min-height: 40em;

}

.section.background {
	
	background-color: #fff;
	background-size: cover;

}

#content h3 {
	
	font-size: 2.5em;
	color: #009CBF;

}

#content {
	
	text-align: center;
	
}

footer {
	
	background: #fff;
	text-align: center;
	padding: 1em;

}

/* Uncollapsing child margins */
.module-title {
	
	padding: 1px;
	margin-top: -1px;
	
}

.hero-bottom-banner {
	
	 max-width: none; 
	 background: #fff; 
	 width: 100%;
	 
}

.hero-bottom-banner a[href] {
	
	 display: block; 
	 font-size: 0; 
	 max-width: 63.0625rem; 
	 margin: 0 auto;
	 
}

.hero-bottom-banner a[href]:before {
	
	content: '';
	padding-bottom: 7%; //  Aspect ratio
	display: inline-block; 
	width: 0;
	
}

.outline-text-cta h2 {
	
	text-transform: uppercase;
	font-weight: 100;	
	
}

.outline-text-cta p {
	
	color: purple;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	
}

.outline-text-cta p a[href] {
	
	font-size: 1.3em;
	text-decoration: underline;
	
}

.badges {
	
	padding: 1em 33%;
	
	a {
		
		margin: 0 1em;
		display: inline-block;
		width: 40%;

	}
	
}

/* Lists */

	ul, ol {
		
		list-style: none;
		padding: 0;
		text-align: start;

	}

	ol {
		
		counter-reset: level1;

	}
	
	li {
		
		display: block;
		margin: .5em 0;
	    padding-left: 4em;
	    position: relative;
	    min-height: 2em;
		
	}
	
	li:before {
			
		content: '✓';
	    background: #41aeb5;
	    color: #fff;
	    display: inline-block;
	    margin: 0 1em;
	    border-radius: 50%;
	    min-width: 2em;
	    height: 2em;
	    text-align: center;
	    line-height: 2;
	    font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	    position: absolute;
		left: 0;
	    top: -.3em;
		
	}
	
	ol li:before {
		
	    content: counter(level1);
	    counter-increment: level1;
    
	}

.awards li {
	
	display: inline-block;

}

.awards .award-image {
	
    width: 9em;
    height: 9em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	border: 2px solid grey;
    border-radius: 50%;	    

}

.visually-hidden {
	
	display: none;
	
}

/* Accordion */

.panel {
	
	text-align: left;
	text-align: start;
	border-bottom: 1px solid #ddd;

}

.panel-collapse {
	
	overflow: hidden;
	
}

.panel-collapse.collapse {
	
	height: 0;

}

.panel-collapse.collapse.in {
	
	height: auto;

}

.panel-group {
	
    border: 1px solid #ddd;
    border-bottom: none;
    margin: 1em;
	    
}

.panel-title {
	
	margin: 0;
	font-size: 1.7em;

}

.panel-title a, .panel-body {
	
	padding: 1rem;
	display: block;
	color: #544c64;
	position: relative;
	
}

.panel-title a:after {
	
	content: '+';
	display: inline-block;
	text-align: center;
	width: 1em;
	height: 1em;
	border: 1px solid #ddd;
	border-radius: 50%;
	line-height: 1em;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	
}

/* Tabs */

.nav-tabs {
	
	text-align: center;
	border: none;
	background: #eee;
    padding: 1em;
	
}

.nav-tabs > li {
	
	float: none;
	display: inline-block;
	padding: 0;
	
}

.nav-tabs > li > a {

	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	font-size: 2em;
	line-height: 1;
	text-decoration: underline;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {

	text-decoration: none;
	border-color: transparent;
	background: none;

}

.nav-tabs > li.active:after {
	
	content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
	border-style: solid;
    border-width: 0 1em 1em 1em;
    border-color: transparent transparent #ffffff transparent;
    
}

/* Tick */

b.tick {
	
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid;
	border-radius: 50%;
	
}

b.tick:before {
	
	content: '✓';
	line-height: 1;
	
}

/* Step Circles */

.module-stepcircles li:before, .global-offices li:before, .awards li:before, .nav li:before {
	
	display: none;
	
}

.unmissable-offers { /* Unmissable */
	
	color: #fff;

}

.unmissable-offers .row > * {
	
    align-self: center;
    background-size: cover;

}
