@import 'bootstrap.min';
@import 'bootstrap.rado';
@import 'transparency';
@import 'button';
@import 'viewport-hero';
@import 'nav';

@font-face {
    font-family: robotolight;
    src: url(Roboto-Light-webfont.eot);
    src: url(Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'), url(Roboto-Light-webfont.woff) format('woff'), url(Roboto-Light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "bebas_neuebold";
    src: url('bebasneue_bold-webfont.eot');
    src: url('bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_bold-webfont.woff2') format('woff2'),
         url('bebasneue_bold-webfont.woff') format('woff'),
         url('bebasneue_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	
	box-sizing: border-box;
	overflow-x: hidden;
/*
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
*/

}

html, body {
	
	font-family:robotolight,Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 16px;

}

h1, h2, h3, h4, h5, h6 {
	
	word-break: break-word;
	word-wrap: break-word;
	font-family: bebas_neuebold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;

}

header {
	
	overflow: hidden;
	position: relative;
	color: #fff;

}

.contain {
	
	max-width: 1280px;
	margin: 0 auto;
	
}

header h1 {
	
	font-size: 14em;
	margin: 0;

}

@media screen and (max-width: 768px) {

	header h1 {
		
		font-size: 3em;
	
	}
	
	header a.logo img {
		
		height: 5em;
		
	}
	
	.row.transparent {
		
		margin: 1em;
		
	}

}

.head a.logo img {
	
	display: block;

}

.head {
	
	position: fixed;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 1;
	color: #fff;
	display: flex;
	
}

.head > * {
	
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
    padding: 0 1em;

}

.head > .logo {
	
	padding: 0;


}

.head .middle-space {
	
    flex: 1 1 auto;
    overflow: hidden;
	
}

.head * {
	
	font-size: 1rem;

}

header .hero {
	
	text-align: center;
}

header .hero p {
	
	font-size: 1.2em;
}

header p {
	
	display: inline-block;
	padding: .3em .7em;
	
}

img {
	
	max-width: 100%;
	display: inline-block;
	border: 0;

}

img.header {
	
	opacity: 0;

}

a[href] {
	
	text-decoration: none;
	display: inline-block;
	color: inherit;
	
}
	
.head a[href] {
	
	vertical-align: middle;

}

#content h3 {
	
	font-size: 2.5em;
	color: #009CBF;

}

#content {
	
	text-align: center;
	
}

footer {
	
	background: #fff;
	text-align: center;
	padding: 1em;

}

/* Uncollapsing child margins */
.module-title {
	
	padding: 1px;
	margin-top: -1px;
	
}

.hero-bottom-banner {
	
	 max-width: none; 
	 background: #fff; 
	 width: 100%;
	 
}

.hero-bottom-banner a[href] {
	
	 display: block; 
	 font-size: 0; 
	 max-width: 63.0625rem; 
	 margin: 0 auto;
	 
}

.hero-bottom-banner a[href]:before {
	
	content: '';
	padding-bottom: 7%; //  Aspect ratio
	display: inline-block; 
	width: 0;
	
}
