<div class="cookie-notice">
	<div class="container-fluid">
		<div class="notice">
			<f:comment>By using this website, you agree to our use of <a href="#">cookies</a>.</f:comment>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==0">
				By using this website, you agree to our use of cookies
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==1">
				Durch die Nutzung dieser Website stimmen Sie der Verwendung von Cookies zu.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==2">
				En utilisant ce site Internet, vous acceptez notre utilisation des cookies.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==3">
				Al utilizar este sitio web acepta el uso que damos a las cookies que se instalan en su equipo al navegar por nuestra web.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==4">
				Utilizzando questo sito Web, accetti il nostro utilizzo dei cookie.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==5">
				Korzystanie z tej strony internetowej oznacza akceptację wykorzystywania plików cookie.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==6">
				Με την χρήση της παρούσας σελίδας, αποδέχεστε την χρήση cookies.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==7">
				Folosind acest site web, sunteţi de acord cu folosirea fişierelor cookie.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==8">
				Пользуясь настоящим веб-сайтом, Вы даете свое согласие на использование файлов cookies.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==9">
				Bu web sitesini kullanarak, tanımlama bilgilerini kullanmamızı kabul edersiniz.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==10">
				使用本网站即表示您同意我们使用Cookie。
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==11">
				Používáním těchto internetových stránek souhlasíte s tím, že využíváme soubory cookies.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==12">
				Al usar este sitio web, usted acepta nuestra política de cookies.
			</f:if>
			<f:if condition="{data._PAGES_OVERLAY_LANGUAGE}==13">
				By using this website, you agree to our use of cookies
			</f:if>


			<div class="cookie-close"><span class="icon icon-close"></span></div>
		</div>
	</div>
</div>