<footer id="footer" role="contentinfo">
	<div class="container-fluid">
		<f:link.page class="button lv1 back-to-top">
			<span class="copy"><f:cObject typoscriptObjectPath="lib.top"/></span>
			<span class="icon icon-arrow-up"></span>
		</f:link.page>
		<div class="row">
			<div class="col-xs-12 col-lg-10">
				<nav>
					<ul>
						<f:cObject typoscriptObjectPath="lib.siteinformationnav"/>
					</ul>
				</nav>
				<ul class="legals">
					<li><f:cObject typoscriptObjectPath="lib.company"/></li>
					<f:cObject typoscriptObjectPath="lib.footernav"/>
				</ul>
				<div class="legal-footer">
					<f:cObject typoscriptObjectPath="lib.lawfooter"/>
				</div>
			</div>
			<div class="col-xs-12 col-lg-2">
				<ul class="social-links">
					<li><a href="https://twitter.com/skrill" target="_blank" class="icon icon-twitter"><span
							class="copy">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/Skrillpayments" target="_blank"
						   class="icon icon-facebook"><span class="copy">Facebook</span></a></li>
					<li><a href="https://www.linkedin.com/company/skrill" target="_blank"
						   class="icon icon-linkedin"><span class="copy">LinkedIn</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

