<!--[if lt IE 8]>
<div class="browser-upgrade-page">
	<div class="header"><img src="/fileadmin/templates/images/skrill-logo.png" title="Skrill"></div>
	<div class="upgrade"><img src="/fileadmin/templates/images/browser-upgrade/upgradeBrowser_title.png" title="Upgrade Your Browser" class="title">
		<p>It appears that you’re using an outdated browser that is incompatible with current web standards.</p>
		<p>Please consider upgrading to a modern browser to improve your web experience and enhance your online security and privacy.</p>
		<p>A list of the most popular web browsers can be found below.</p>
		<div class="browsers">
			<div class="col"><a href="http://www.google.com/chrome/"><img src="/fileadmin/templates/images/browser-upgrade/browser_chrome.png" title="Google Chrome">
				<p>Google Chrome</p></a></div>
			<div class="col"><a href="http://www.mozilla.com/firefox/"><img src="/fileadmin/templates/images/browser-upgrade/browser_firefox.png" title="Mozilla Firefox">
				<p>Mozilla Firefox</p></a></div>
			<div class="col"><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx"><img src="/fileadmin/templates/images/browser-upgrade/browser_iexplorer.png" title="Internet Explorer 11">
				<p>Internet Explorer</p></a></div>
			<div class="col"><a href="http://www.apple.com/safari/download/"><img src="/fileadmin/templates/images/browser-upgrade/browser_safari.png" title="Safari">
				<p>Safari</p></a></div>
		</div>
	</div>
</div><![endif]-->