<div class="row smartbanner" >
    <div class="smartbanner_left">
        <div style="float:left">
        	<a
               href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments <f:cObject typoscriptObjectPath='appLinkAndroid'/>"
               target="_blank">
				   <img alt="App" src="/fileadmin/templates/images/skrill-logo-app.png">
			
			</a>
			
        </div>
        <div class="smartbanner_left_appTxt">
            <h4>
                <f:cObject typoscriptObjectPath="lib.appName"/>
            </h4>

            <p>
                <f:cObject typoscriptObjectPath="lib.appCompanyname"/>
            </p>

            <p>
                <f:cObject typoscriptObjectPath="lib.appFree"/>
            </p>
        </div>
    </div>
    <div class="smartbanner_right">
        <a href="#">
            <!-- <img src="/fileadmin/templates/images/close-button.png" alt="close">-->
            <span class="fa fa-times-circle"></span>
        </a>

        <div class="smartbanner_right_action">
            <a class="button yellow android"
               href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments <f:cObject typoscriptObjectPath='appLinkAndroid'/>"
               target="_blank">
                <span class="fa fa-download"></span>
                <f:cObject typoscriptObjectPath="lib.appDownload"/>
            </a>
        </div>
    </div>
</div>
