{namespace m=TYPO3\skrillbackend\ViewHelpers}

<div class="section {m:ContentClass(layout:layout)} {theme}">
	<div class="container-fluid">
		<ul class="accordion top-level">
			<li>
				<div class="accordion-wrap">
					<h2 class="accordion-trigger">
						<a href="#">
							<span class="icon icon-expand-large"></span>
							<span class="icon icon-minimize-large"></span>
							<f:format.raw>{data.header}</f:format.raw>
						</a>
					</h2>
					<div class="accordion-content">
						<ul class="accordion accordion-inner">


							<f:for each="{data.tx_gridelements_view_children}" as="content">

								<li  class="col-md-6">
									<div class="accordion-wrap">
										<h4 class="accordion-trigger">
											<a href="#">
												<span class="icon icon-expand-small"></span>
												<span class="icon icon-minimize-small"></span>
												{content.header}
											</a>
										</h4>

										<div class="accordion-content">
											<f:format.html><p>{content.bodytext}</p></f:format.html>
										</div>
									</div>
								</li>

							</f:for>













							<f:comment>
								<li class="col-md-6">
									<div class="accordion-wrap">
										<h3 class="accordion-trigger">
											<a href="#">
												<span class="icon icon-expand-small"></span>
												<span class="icon icon-minimize-small"></span>
												{data.tx_gridelements_view_raw_columns.40.0.header}
											</a>
										</h3>

										<div class="accordion-content">
											<f:format.raw><p>{data.tx_gridelements_view_raw_columns.40.0.bodytext}</p>
											</f:format.raw>
										</div>
									</div>
								</li>
								<li class="col-md-6">
									<div class="accordion-wrap">
										<h3 class="accordion-trigger">
											<a href="#">
												<span class="icon icon-expand-small"></span>
												<span class="icon icon-minimize-small"></span>
												{data.tx_gridelements_view_raw_columns.41.0.header}
											</a>
										</h3>

										<div class="accordion-content">
											<f:format.raw><p>{data.tx_gridelements_view_raw_columns.41.0.bodytext}</p>
											</f:format.raw>
										</div>
									</div>
								</li>
							</f:comment>


						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>





