{namespace m=TYPO3\skrillbackend\ViewHelpers}


<div class="section text-image-2col">
	<div class="row">
		<div class="container-fluid">
			<f:format.raw>{data.tx_gridelements_view_column_50}</f:format.raw>
			<f:format.raw>{data.tx_gridelements_view_column_51}</f:format.raw>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid">
			<f:format.raw>{data.tx_gridelements_view_column_52}</f:format.raw></li>
			<f:format.raw>{data.tx_gridelements_view_column_53}</f:format.raw></li>
		</div>
	</div>
</div>