<div class="badges">

	<f:if condition="{data.sys_language_uid}==0">
		<f:comment>
			<a href="https://itunes.apple.com/at/app/skrill/id718248239" target="_blank">
				<img src="/fileadmin/templates/images/icons/app_store_badge_2x.png">
			</a>
			<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
				<img src="/fileadmin/templates/images/icons/google_play_badge_2x.png">
			</a>
		</f:comment>
		<a href="https://itunes.apple.com/en/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_US-UK.png" alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/en_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==1">
		<a href="https://itunes.apple.com/de/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_DE.png" alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/de_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==2">
		<a href="https://itunes.apple.com/fr/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_FR.png" alt="iOS" >
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/fr_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==3">
		<a href="https://itunes.apple.com/es/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_ES.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/es_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==4">
		<a href="https://itunes.apple.com/it/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_IT.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/it_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==5">
		<a href="https://itunes.apple.com/pl/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_PL.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/pl_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==6">
		<a href="https://itunes.apple.com/gr/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_GR.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/el_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==7">
		<a href="https://itunes.apple.com/ro/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_RO.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/ro_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==8">
		<a href="https://itunes.apple.com/ru/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_RU.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/ru_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==9">
		<a href="https://itunes.apple.com/tr/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_TR.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/tr_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==10">
		<a href="https://itunes.apple.com/cn/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_CN.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/zh-cn_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==11">
		<a href="https://itunes.apple.com/cz/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_CZ.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/cs_generic_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==12">
		<a href="https://itunes.apple.com/es/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_ES.png"  alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/es_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
	<f:if condition="{data.sys_language_uid}==13">
		<a href="https://itunes.apple.com/en/app/skrill/id718248239" target="_blank">
			<img src="/fileadmin/templates/images/icons/Download_on_the_App_Store_Badge_US-UK.png" alt="iOS">
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.moneybookers.skrillpayments" target="_blank">
			<img src="/fileadmin/templates/images/icons/en_app_rgb_wo_60.png" alt="Android">
		</a>
	</f:if>
</div>
